    <div class="card m-3">
        <div class="card-body">
            <h4 class="card-title">@Title</h4>
            <p class="card-text">@Description</p>
        </div>
    </div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }
}

